<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" id="side-bar-column">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <span class="fs-4">Profile</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">
                            <i class="fas fa-home"></i>
                            What's New
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-dark">
                            <i class="fas fa-user-friends"></i>
                            My Friends
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-dark">
                            <i class="fas fa-user-friends"></i>
                            My Images
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-dark">
                            <i class="fas fa-question-circle"></i>
                            Support
                        </a>
                    </li>
                </ul>
                <hr>
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none">
                    <strong>Nombre</strong>
                </a>
            </div>
        </div>
    </div>
</div>